<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="position-relative rounded w-100 h-100">
                    <div id="image_container" style="height: 100%;">
                        <label for="uploadFile" class="form-control" style="width: 100%; height: 100%; text-align: center; padding-top: 30%;">
                            image
                        </label>
                        <input type="file" name="uploadFile" id="uploadFile" style="display: none;" onchange="uploadImage(event);" multiple required>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <form>
                        <input type="text" id="image" style="display: none;">
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="location" placeholder="location">
                                    <label for="subject">location</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="content" id="content" style="height: 150px"></textarea>
                                    <label for="message">content</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="tag" placeholder="tag">
                                    <label for="subject">tag</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="button" class="btn btn-primary w-100 py-3" value="Submit등록" onclick="submitBoard();">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->