<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 900px;">
            <h1 class="mb-3">Team.TWT</h1>
            <p>Three Ways Traveling</p>
            <p>여행가는 세 가지 방법이라는 뜻으로</p>
            <p>세 명의 개발자들이 여행 계획을 보다 편하게 세울 수 있도록 도움을 줄 수 있는 사이트를 개발했습니다.</p>
        </div>
        <div class="row g-4" style="padding: 0 40px;">
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid" src="/public/img/yejin.jpg" alt="">
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">김예진</h5>
                        <small>Full Stack</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid" src="/public/img/soohyun.jpg" alt="">
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">김수현</h5>
                        <small>Full Stack</small>
                    </div>
                </div>
            </div>
            <div class="col-md-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded overflow-hidden">
                    <div class="position-relative">
                        <img class="img-fluid" src="/public/img/team-2.jpg" alt="">
                    </div>
                    <div class="text-center p-4 mt-3">
                        <h5 class="fw-bold mb-0">여정윤</h5>
                        <small>Front-End</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->