<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

    <section class="banner" id="banner">

        <div class="slider">
            <div class="slides">
                kslfjsklfjslkjk
                fksdjflsjfklsjlf
                <div class="slide first">
                    <img src="images/banner1.jpg">
                </div>
                <div class="slide">
                    <img src="images/banner2.jpg">
                </div>
                <div class="slide">
                    <img src="images/banner3.jpg">
                </div>

                <div class="navigation-auto">
                    <div class="auto-btn1"></div>
                    <div class="auto-btn2"></div>
                    <div class="auto-btn3"></div>
                </div>

            </div>

            <div class="navigation-manual">
                <label for="radio1" class="manual-btn"></label>
                <label for="radio2" class="manual-btn"></label>
                <label for="radio3" class="manual-btn"></label>
            </div>
        </div>
    </section>

    <section class="location-rec" id="location_rec">
        <h2>지역 별 추천</h2>
        <div class="location-rec-img">
            <img src="images/seoul.jpg" alt="">
            <img src="images/gangwon.jpg" alt="">
            <img src="images/gyeonggi.jpg" alt="">
            <img src="images/Jeju.jpg" alt="">
            <img src="images/Gyeongsangnam.jpg" alt="">
        </div>
    </section>

    <section class="sns_rec" id="sns_rec">
        <h2>베스트 여행지</h2>
        <div class="sns-rec-img">
            <img src="images/seoul.jpg" alt="">
            <img src="images/gangwon.jpg" alt="">
            <img src="images/gyeonggi.jpg" alt="" class="img-p">
            <img src="images/Jeju.jpg" alt="" class="img-p">
            <img src="images/Gyeongsangnam.jpg" alt="">
        </div>
    </section>

    <hr class="contain-footer">

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->