<!-- Category Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h2 class="mb-2">추천 여행 지역</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block text-center rounded p-3" href="/place?area=1">
                    <div class="rounded p-4">
                        <h4>서울</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block text-center rounded p-3" href="/place?area=31">
                    <div class="rounded p-4">
                        <h4>경기도</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item d-block text-center rounded p-3" href="/place?area=32">
                    <div class="rounded p-4">
                        <h4>강원도</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item d-block text-center rounded p-3" href="/place?area=33">
                    <div class="rounded p-4">
                        <h4>충청도</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <a class="cat-item d-block text-center rounded p-3" href="/place?area=37">
                    <div class="rounded p-4">
                        <h4>전라도</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <a class="cat-item d-block text-center rounded p-3" href="/place?area=35">
                    <div class="rounded p-4">
                        <h4>경상도</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <a class="cat-item d-block text-center rounded p-3" href="/place?area=39">
                    <div class="rounded p-4">
                        <h4>제주도</h4>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <a class="cat-item d-block text-center rounded p-3" href="/place">
                    <div class="rounded p-4">
                        <h4>전국</h4>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Category End -->

<!-- Testimonial Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h2 class="mb-3">베스트 여행 후기</h2>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item rounded p-3">
                <div class="bg-white rounded p-4">
                    <p>기대이상으로 좋았으며, 평화로움을 느꼈습니다.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="/public/img/testimonial-1.jpg"
                            style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">김**</h6>
                            <small>주부</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item rounded p-3">
                <div class="bg-white rounded p-4">
                    <p>친구들의  여행에서  아름다운   모습으로  남을겁니다.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="/public/img/testimonial-2.jpg"
                            style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">박**</h6>
                            <small>교수</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonial-item rounded p-3">
                <div class="bg-white rounded p-4">
                    <p>너무 아름다운 경치와 맑은공기~눈부시게 찬란한 햇살이 감동이었습니다.</p>
                    <div class="d-flex align-items-center">
                        <img class="img-fluid flex-shrink-0 rounded" src="/public/img/testimonial-3.jpg"
                            style="width: 45px; height: 45px;">
                        <div class="ps-3">
                            <h6 class="fw-bold mb-1">최**</h6>
                            <small>회사원</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->