<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Ubuntu:wght@700&display=swap');
        </style>
    <title>조아행</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/public/img/logo.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/public/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/public/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/public/css/style.css" rel="stylesheet">

    <!-- Naver Maps API -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=zf34p970mz"></script>

    <!-- icon -->
    <script src="https://kit.fontawesome.com/08c80c9e9b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        <div class="container-fluid nav-bar bg-transparent">
            <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4">
                <a href="/" class="navbar-brand d-flex align-items-center text-center">
                    <div class="me-2">
                        <img class="img-fluid" src="/public/img/logo.png" alt="Icon" style="width: 35px; height: 35px;">
                    </div>
                    <h1 class="m-0 text-primary" style="font-size: 32px;">조아행</h1>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="/place" class="nav-item nav-link">여행지 찾기</a>
                        <a href="/board" class="nav-item nav-link">여행 후기</a>
                        <a href="/propensity" class="nav-item nav-link">여행 성향 분석</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">나의 여행</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                <a href="/mytrip" class="dropdown-item py-2"><i class="fa-regular fa-paper-plane" style="margin-right: 5px;"></i>나의 여행</a>
                                <a href="/mytrip/board" class="dropdown-item py-2"><i class="fa-regular fa-pen-to-square" style="margin-right: 5px;"></i>여행 후기</a>
                                <a href="/mytrip/propensity" class="dropdown-item py-2"><i class="fa-regular fa-square-check" style="margin-right: 5px;"></i>여행 성향</a>
                                <a href="/mypage" class="dropdown-item py-2"><i class="fa-regular fa-face-smile" style="margin-right: 5px;"></i>마이페이지</a>
                            </div>
                        </div>
                    </div>
                    <% if (!user) { %> 
                        <a href="/login" class="btn btn-primary px-3 d-none d-lg-flex">로그인</a>
                    <% } else { %>
                        <a href="/logout" class="btn btn-primary px-3 d-none d-lg-flex">로그아웃</a>
                    <% } %>
                </div>
            </nav>
        </div>
        <!-- Navbar End -->

        <!-- Header Start -->
        <% if(page == 'index') { %> 
            <div class="container-fluid header bg-white p-0">
                <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                    <div class="col-md-6 p-5 mt-lg-5">
                        <h1 class="display-5 animated fadeIn mb-4">여행아, <span class="text-primary">조아행</span></h1>
                        <p class="animated fadeIn mb-4 pb-2">좋아하는 나만의 여행지를 찾아보세요.</p>
                    </div>
                    <div class="col-md-6 animated fadeIn">
                        <div class="owl-carousel header-carousel">
                            <div class="owl-carousel-item">
                                <img class="img-fluid" src="/public/img/carousel-1.jpg" alt="">
                            </div>
                            <div class="owl-carousel-item">
                                <img class="img-fluid" src="/public/img/carousel-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% } else { %>
            <div class="container-fluid header bg-white p-0">
                <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                    <div class="col-md-6 p-5 mt-lg-5">
                        <h1 class="display-5 animated fadeIn mb-4"><%= page %></h1>
                    </div>
                    <div class="col-md-6 animated fadeIn">
                        <img class="img-fluid" src="/public/img/header.jpg" alt="">
                    </div>
                </div>
            </div>
        <% } %>
        <!-- Header End -->

        <!-- Search Start -->
        <% if (page == 'index' || page == '여행지 찾기') { %>
            <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;border-radius: 0px 0px 10px 10px;">
                <div class="container">
                    <form type="get" action="/place/search">
                        <div class="row g-2">
                            <div class="col-md-10">
                                <div class="row g-2">
                                    <div class="col-md-4">
                                        <input type="text" class="form-control border-0 py-3" id="keyword" name="keyword" placeholder="여행 키워드"/>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select border-0 py-3" name="theme">
                                            <option value="" selected>여행 테마</option>
                                            <option value="A01">자연</option>
                                            <option value="A02">인문</option>
                                            <option value="A03">레포츠</option>
                                            <option value="A04">쇼핑</option>
                                            <option value="A05">음식</option>
                                            <option value="B02">숙박</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select border-0 py-3" name="area">
                                            <option value="" selected>여행 지역</option>
                                            <option value="1">서울</option>
                                            <option value="31">경기도</option>
                                            <option value="32">강원도</option>
                                            <option value="33">충청도</option>
                                            <option value="37">전라도</option>
                                            <option value="35">경상도</option>
                                            <option value="39">제주도</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <!-- <input type="button" class="btn btn-dark border-0 w-100 py-3" value="검색" onclick="search();"> -->
                                <button type="submit" class="btn btn-dark border-0 w-100 py-3">검색</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <% } else { %>
            <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 20px;"></div>
        <% } %>
        <!-- Search End -->

        <%- body %>

        <!-- Footer Start -->
        <div class="container-fluid bg-dark footer pt-3 mt-3 wow fadeIn" data-wow-delay="0.1s" style="color: #666666; font-weight: 400;">
            <div class="container py-3">
                <div class="row g-5" style="padding-left: 130px; padding-bottom: 50px;">
                    <div class="col-lg-3 col-md-3">
                        <h5 class="mb-4">Information</h5>
                        <p class="mb-2">동양미래대학교</p>
                        <p>컴퓨터소프트웨어공학과</p>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <h5 class=" mb-4">Copyright</h5>
                        <p class="mb-2">TWT, All Right Reserved. </p>
                        <p>Designed By HTML Codex </p>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <h5 class=" mb-4">Developer</h5>
                        <a class="btn btn-link" href="/developer" style="color: #666666;">개발팀 소개</a>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <h5 class=" mb-4">Quick Links</h5>
                        <a class="btn btn-link" href="/place" style="color: #666666;">여행지 찾기</a>
                        <a class="btn btn-link" href="/propensity" style="color: #666666;">여행 성향 분석</a>
                        <a class="btn btn-link" href="/mytrip" style="color: #666666;">나의 여행</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <!-- <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a> -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/lib/wow/wow.min.js"></script>
    <script src="/public/lib/easing/easing.min.js"></script>
    <script src="/public/lib/waypoints/waypoints.min.js"></script>
    <script src="/public/lib/owlcarousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-6318c83f180b914d"></script>

    <!-- Template Javascript -->
    <script src="/public/js/main.js"></script>
    <script src="/public/js/login.js"></script>
    <script src="/public/js/board.js"></script>
    <script src="/public/js/propensity.js"></script>
    <script src="/public/js/place.js"></script>
    <script src="/public/js/mytrip.js"></script>
    <script src="/public/js/naverMaps.js"></script>
    <script src="/public/js/naverMaps2.js"></script>
    <script src="/public/js/directions.js"></script>    
    <script src="/public/js/myPage.js"></script>
    <%- script %>
</body>

</html>