<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

    <hr class="separator">
    <div class="container">
        <table class="city_imgs">
            <tbody>
                <tr>
                    <td><a href="/search-location/seoul"><img src="images/seoul.jpg"></td>
                    <td><a href="/search-location/busan"><img src="images/busan.jpg"></td>
                    <td><a href="/search-location/daegu"><img src="images/daegu.jpg"></td>
                    <td><a href="/search-location/incheon"><img src="images/incheon.jpg"></td>
                </tr>
                <tr>
                    <td><a href="/search-location/gwangju"><img src="images/gwangju.jpg"></td>
                    <td><a href="/search-location/daejeon"><img src="images/daejeon.jpg"></td>
                    <td><a href="/search-location/ulsan"><img src="images/ulsan.jpg"></td>
                    <td><a href="/search-location/sejong"><img src="images/sejong.jpg"></td>
                </tr>
                <tr>  
                    <td><a href="/search-location/gyeonggi"><img src="images/gyeonggi.jpg"></td>
                    <td><a href="/search-location/gangwon"><img src="images/gangwon.jpg"></td>
                    <td><a href="/search-location/chungcheongbuk"><img src="images/chungcheongbuk.jpg"></td>
                    <td><a href="/search-location/Chungcheongnam"><img src="images/Chungcheongnam.jpg"></td>
                </tr>
                <tr>
                    <td><a href="/search-location/gyeonggi"><img src="images/Jeollabuk.jpg"></td>
                    <td><a href="/search-location/gangwon"><img src="images/Jeollanam.jpg"></td>
                    <td><a href="/search-location/chungcheongbuk"><img src="images/chungcheongbuk.jpg"></td>
                    <td><a href="/search-location/Chungcheongnam"><img src="images/Gyeongsangnam.jpg"></td>
                </tr>
                <tr>
                    <td><a href="/search-location/gyeonggi"><img src="images/Jeju.jpg"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</body>
</html>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->