<footer class="footer">
    <div class="f-container">
        <p>Copyright 2022.TWT All rights reserved.</p>
        <div class="row">
            <div class="footer-col">
                <h4>project</h4>
                <ul>
                    <li><a href="">이용약관</a></li>
                    <li><a href="">개인정보</a></li>
                    <li><a href="">회사정보</a></li>
                    <li><a href="">고객센터</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>manager</h4>
                <ul>
                    <li><a href="">김예진</a></li>
                    <li><a href="">Back-End</a></li>
                </ul>
                <div class="social-links">
                    <a href=""><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>staff</h4>
                <ul>
                    <li class=""><a href="">김수현</a></li>
                    <li><a href="">Full-Stack</a></li>
                </ul>
                <div class="social-links">
                    <a href=""><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>staff</h4>
                <ul>
                    <li><a href="">여정윤</a></li>
                    <li><a href="">Front-End</a></li>
                </ul>
                <div class="social-links">
                    <a href=""><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>

<script type="text/javascript" src="home.js"></script>

</body>
</html>