<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home_style.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link href="https://webfontworld.github.io/naver/NanumSquareRound.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cdfd86cc2d.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b98e10d2f0899609ed12c46693626620"></script>
    <script type="text/javascript" src="home.js"></script>
    <script type="text/javascript" src="search_location.js"></script>
    <title>home</title>
</head>
<body>
    <div class="top">
    <header class="header">
        <a href="/"><img src="images/logo.png" class="logo"></a>

        <div class="search-bar">
            <form>
                <div class="where">
                    <label>어디서</label>
                    <input type="search" placeholder="어디로 여행 가시나요?">
                </div>
                <div class="how">
                    <label>어떤 여행을</label>
                    <p>어떤 여행을 계획 중이신가요?</p>
                    
                    <div class="dropdown-container">
                        <div class="dropdown">
                            
                            <div class="options-container">
                                <p>성향</p>
                                <div class="checkbox">
                                    <label for="A">
                                        <input id="A" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    A
                                </div>
                                <div class="checkbox">
                                    <label for="B">
                                        <input id="B" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    B
                                </div>
                                <div class="checkbox">
                                    <label for="C">
                                        <input id="C" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    C
                                </div>
                                <div class="checkbox">
                                    <label for="D">
                                        <input id="D" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    D
                                </div>
                                <div class="checkbox">
                                    <label for="E">
                                        <input id="E" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    E
                                </div>
                                <div class="checkbox">
                                    <label for="F">
                                        <input id="F" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    F
                                </div>
                                <div class="checkbox">
                                    <label for="G">
                                        <input id="G" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    G
                                </div>
                            </div>

                            <div class="options-container">
                                <p>테마</p>
                                <div class="checkbox">
                                    <label for="휴양지">
                                        <input class="휴양지" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    휴양지
                                </div>
                                <div class="checkbox">
                                    <label for="쇼핑">
                                        <input class="쇼핑" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    쇼핑
                                </div>
                                <div class="checkbox">
                                    <label for="문화유산">
                                        <input class="문화유산" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    문화유산
                                </div>
                                <div class="checkbox">
                                    <label for="자연경관">
                                        <input class="자연경관" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    자연경관
                                </div>
                                <div class="checkbox">
                                    <label for="대중교통">
                                        <input class="대중교통" type="checkbox">
                                        <span class="checkbox-material">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                    대중교통
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </form>
        </div>

        <ul class="nav-links">
            <li><a href="/location" class="active">여행 리스트</a></li>
            <li><a href="/sns" class="active">추천 SNS</a></li>
            <li><a href="/analysis" class="active">여행성향 분석</a></li>
            <li><a href="/login"><i class="fa-solid fa-user fa-lg"></i></a></li>
            <li><i class="fas fa-bars" id="menu-btn"></i></li>
        </ul>
    </header>