/* ------------home-------------- */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
}

/* --------header-------- */

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 10%;
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 1000;
  background-color: #ffffff;
}

.logo{
  cursor: pointer;
  width: 80px;
  height: auto;
}


.search-bar{
  padding: 0 25px;
  border-radius: 50px; 
  border: 1.5px solid rgba(169, 169, 169, 0.473);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

.search-bar:hover{
  padding: 0 25px;
  border-radius: 50px; 
  border: 1.5px solid rgba(169, 169, 169, 0.473);
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.search-bar form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
}

.input{
  padding-right: 100px;
}


.search-bar form input{
  margin-top: 5px;
  display: block;
  width: 130%; /* 검색input넓이 */
  font-size: 11px;
}

.search-bar form button{
  background: #057ffb;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

.search-bar form button i{
  color: #fff;
  align-items: center;
}

.nav-links li{
  list-style: none;
  display: inline-block;
  margin: 0 1rem;
}

.nav-links li a{
  color: rgb(29, 29, 29);
  font-size: 13px;
}

.nav-links li a:hover{
  color: #057ffb;
  border-bottom: .1rem solid #057ffb;
  padding-bottom: .5rem;
}

#menu-btn{
  display: none;
}


/* -------hr------- */

hr{
    opacity: 0.3;
}

/* ----cardview----- */


.bg_white{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    width:495px;
    padding:5px;
    overflow-y:auto;
    background:rgb(255, 255, 255);
    z-index: 1;
    border-radius: 10px;
}

.list h2{
    margin: 20px 0 10px;
    font-size: 20px;
}

.content_list li{
    list-style: none;
    display: inline-block;
    margin: 0 10px 10px 0;
}

.review span{
    padding-left: 5px;
}

.img_list{
    width: 100%;
    overflow-y: auto;
    margin-bottom: 20px;
}

.img_list li{
    /* padding-right: 5px; */
    list-style: none;
    display: inline-block;
}

.img_list img{
    width: 150px;
    height: 100px;
}


/* -----------카카오지도----------- */

.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;border-radius: 12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:700px;}


/* ----------location----------- */

.city_imgs{
    margin-top: 200px;
    margin-left: auto; 
    margin-right:auto;
}

.city_imgs img{
  border-radius: 5px;
}

.city_imgs img:hover {
    transform: scale(1.1);
}

.city_imgs td{
    padding: 0 15px 30px 15px;
}