<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-gothic.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cdfd86cc2d.js" crossorigin="anonymous"></script>
  <title>location</title>
</head>
<body>
    <div class="header">
        <nav id="navBar">
            <img src="images/logo.png" class="logo">

            <div class="search-bar">
                <form>
                    <div class="input">
                        <label>어디서</label>
                        <input type="text" placeholder="어디로 여행 가시나요?">
                    </div>
                    <div class="updown"></div>
                    <div class="input">
                        <label>어떤 여행을</label>
                        <input type="text" placeholder="어떤 여행을 계획 중이신가요?">
                    </div>
                    <div class="updown"></div>
                    <div>
                        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>

            <ul class="nav-links">
                <li><a href="/location" class="active">여행 리스트</a></li>
                <li><a href="#" class="active">추천 SNS</a></li>
                <li><a href="#" class="active">여행성향 분석</a></li>
                <li><i class="fa-solid fa-user fa-lg" style="padding-left: 50px;"></i></li>
            </ul>
        </nav>
    </div>
    <hr class="separator">
    <div class="container">
        <table class="city_imgs">
            <tbody>
                <tr>
                    <td>
                        <a href="/search-location/seoul"><img src="images/seoul.jpg">
                    </td>
                    <td><a href="/search-location/busan"><img src="images/busan.jpg"></td>
                    <td><a href="/search-location/daegu"><img src="images/daegu.jpg"></td>
                    <td><a href="/search-location/incheon"><img src="images/incheon.jpg"></td>
                </tr>
                <tr>
                    <td><a href="/search-location/gwangju"><img src="images/gwangju.jpg"></td>
                    <td><a href="/search-location/daejeon"><img src="images/daejeon.jpg"></td>
                    <td><a href="/search-location/ulsan"><img src="images/ulsan.jpg"></td>
                    <td><a href="/search-location/sejong"><img src="images/sejong.jpg"></td>
                </tr>
                <tr>  
                    <td><a href="/search-location/gyeonggi"><img src="images/gyeonggi.jpg"></td>
                    <td><a href="/search-location/gangwon"><img src="images/gangwon.jpg"></td>
                    <td><a href="/search-location/chungcheongbuk"><img src="images/chungcheongbuk.jpg"></td>
                    <td><a href="/search-location/Chungcheongnam"><img src="images/Chungcheongnam.jpg"></td>
                </tr>
                <tr>
                    <td><a href="/search-location/gyeonggi"><img src="images/Jeollabuk.jpg"></td>
                    <td><a href="/search-location/gangwon"><img src="images/Jeollanam.jpg"></td>
                    <td><a href="/search-location/chungcheongbuk"><img src="images/Gyeongsangbuk.jpg"></td>
                    <td><a href="/search-location/Chungcheongnam"><img src="images/Gyeongsangnam.jpg"></td>
                </tr>
                <tr>
                    <td><a href="/search-location/gyeonggi"><img src="images/Jeju.jpg"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</body>
</html>